
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Socket.IO whiteboard</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>

  <ul id="lobbyList">
  </ul>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script>
    var socket = io();
    socket.emit('requestLobbyList');
    socket.on("list",function (roomList) {
      $('#lobbyList').empty();
      var arrayKey = Object.keys(roomList);
      arrayKey.forEach(element => {
        $('#lobbyList').append("<li><a href='/room/"+element+"'>"+element+"</a> - "+roomList[element].user.length+" players</li>");
      });
    
    })
    
  </script>
</body>
</html>