.page {
  flex:1;
}

.canvas {
  width: 100%;
    height: calc(width * 0.5625);
    // border:1px solid #000000;
}


.fullHeight{
  height:100%
}

.blackco {

  background-color: black;
}

.fullWidth {
  width: 100%;
}

.rightPanel{  
  display:flex;
  flex-direction: column;
  height: 100%;
}

.chat {
  flex:1;
}