.page {
  flex:1;
}

.canvas {
  width: 100%;
}



.fullHeight{
  height:100%
}

.blackco {

  background-color: black;
}

.fullWidth {
  width: 100%;
}

.rightPanel{  
  display:flex;
  flex-direction: column;
  height: 100%;
}

.chat {
  flex:1;
}